/S05-Sobrecarga-Errores-Colecciones/SistemaRegistro/target/
/S05-Sobrecarga-Errores-Colecciones/SistemaRegistro/clientes.txt
/S05-Sobrecarga-Errores-Colecciones/ef_poo/nbproject/private/
/S05-Sobrecarga-Errores-Colecciones/ef_poo/build/
/S05-Sobrecarga-Errores-Colecciones/EF_POO/nbproject/private/
/S05-Sobrecarga-Errores-Colecciones/EF_POO/build/
/S05-Sobrecarga-Errores-Colecciones/EF_POO/target/
